.nav-li {
    display: flex;
    justify-content: flex-end;
}

.nav-li li {
    list-style: none;
    background: blanchedalmond;
    margin: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.nav-li li:hover {
    background: burlywood;
}

.nav-li li a {
    text-decoration: none;
}

.material-section{}

.content-card {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 10px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.card-actions:hover {
    cursor: pointer;
}

.card .card-actions {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-actions * {
    text-decoration: none;
    color: black;
}
.card-actions:hover {
    cursor: pointer;
}

.card .card-image img {
    width: 100%;
}

.search {
    display: flex;
    justify-content: center;
    margin: 30px ;
}
.close-button {
    position: absolute;
    right:0;
    top:0;
    width: 40px;
    height: 40px;
}
#dialog-video {
    display:none;
    padding:0;
    align-self: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:grey;
    height: 50vh;
    width: 50vw; 
}