.nav-li {
    display: flex;
    justify-content: flex-end;
}

.nav-li li {
    list-style: none;
    background: blanchedalmond;
    margin: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.nav-li li:hover {
    background: burlywood;
}

.nav-li li a {
    text-decoration: none;
}

.material-section{}

.content-card {
    margin: 30px 100px;
    width:80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 0;
    justify-items: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.card-actions:hover {
    cursor: pointer;
}

.card .card-actions {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-actions * {
    text-decoration: none;
    color: black;
}
.card-actions:hover {
    cursor: pointer;
}

.card .card-image img {
    width: 100%;
}

.search {
    display: flex;
    justify-content: center;
    margin: 30px ;
}
.close-button {
    position: absolute;
    right:0;
    top:0;
    width: 40px;
    height: 40px;
}
#dialog-video {
    opacity: 100%;
    display: block;
    padding:0;
    align-self: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:grey;
}

.dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
}